<div class="container">
    <mat-card>
        <h2>Chosen Service Package</h2>
        <h1>{{chosenPackage.name}}</h1>
        <h2>services:</h2>
        <ul>
            <li *ngFor="let service of chosenPackage.services">{{service.title}}</li>
        </ul>
        <h2>validity period: {{chosenPackage.validityPeriod.month_number}} months</h2>
        <h2>optional products:</h2>
        <ul>
            <li *ngFor="let optional of chosenPackage.optionalProducts">{{optional.name}}</li>
        </ul>
        <h2>total: {{chosenPackage.totalCost}}$</h2>

        <ng-container *ngIf="isLoggedIn; then loggedIn; else notLogged">
        </ng-container>
        <ng-template #loggedIn>
            <div>
                <button (click)="buy(false)" mat-raised-button color="primary">Buy</button>
                <button (click)="buy(true)" mat-raised-button color="warn">Buy</button>
            </div>
        </ng-template>
        <ng-template #notLogged>
            <div>
                <button (click)="toLogin()" mat-raised-button color="primary">Log in</button>
                <button (click)="toSignup()" mat-button color="link">Sign up</button>
            </div>
        </ng-template>
    </mat-card>
</div>