.background {
    min-height: 93.75%;
    width: 100%;
    background-color: #cd533b;
    display: flex;
    height: fit-content;

    mat-card {
        margin: 2rem;
    }

    button {
        position: fixed;
        z-index: 10;
        top: 90vh;
        right: 4vw;
    }

    .package {
        width: 30%;
    }
}