<div class="background">
    <div class="card-container">
        <mat-card *ngFor="let package of packages" class="package">
            <h1>{{package.name}}</h1>
            <h2>Services:</h2>
            <div *ngFor="let service of package.services">
                <h3>{{service.title}}</h3>
                <h4>{{printDetails(service)}}</h4>
            </div>
    
            <h2>Optional products:</h2>
            <h3 *ngFor="let optional of package.products">{{optional.name}} - ${{optional.monthly_fee}}/month</h3>
        </mat-card>
    </div>

    <div class="rejected-container" *ngIf="isLoaded">
        <h2>Rejected orders:</h2>
        <ul>
            <li *ngFor="let rejected of rejected; let i = index" [attr.data-index]="i" (click)="toConfirmation(i)">{{displayOrder(rejected.purchase)}}</li>
        </ul>
    </div>

    <button mat-fab color="primary" (click)="goToBuyPage()">
        <mat-icon>add_shopping_cart</mat-icon>
    </button>
</div>