.container {
    height: 93.75%;
    width: 100%;
    background-color: #cd533b;
    display: flex;
    justify-content: center;
    align-items: center;

    .buy-card {
        width: 35%;
        height: 60%;
    }

    mat-form-field {
        margin: 24px;

    }

    .opts {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    li {
        display: flex;
        align-items: center;
    }
}