<div class="container">
  <mat-card class="buy-card">
    <mat-card-title>Choose your configuration</mat-card-title>
    <form [formGroup]="buyForm" (ngSubmit)="buy()">
      <mat-form-field>
        <mat-label>Service Package</mat-label>
        <mat-select formControlName="package" (selectionChange)="updateForm($event.value)">
          <mat-option *ngFor="let package of packages" [value]="package.name">{{package.name}}</mat-option>
        </mat-select>
        <mat-error>package is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Validity period</mat-label>
        <mat-select formControlName="validityPeriod">
          <mat-option *ngFor="let validity of currentPackage.validityPeriods" [value]="validity">
            {{validity.monthsNumber}} months - ${{validity.monthlyFee}}</mat-option>
        </mat-select>
        <mat-error>validity period is required</mat-error>
      </mat-form-field>

      <div class="opt-prods-container">
        <p *ngIf="numOptProdsFields == 0">No optional products</p>
        <mat-form-field class="opts">
          <mat-label>Optional pruduct</mat-label>
          <mat-select formControlName="validityPeriod" (selectionChange)="setSelectedOptional($event.value)">
            <mat-option *ngFor="let optional of currentPackage.optionalProducts" [value]="optional">{{optional.name}} -
              ${{optional.monthlyFee}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="addOptional()" [disabled]="!isServiceSelected">
          <mat-icon>add</mat-icon>
        </button>
        <ul>
          <li *ngFor="let optional of selectedOptionals; let i = index" [attr.data-index]="i">
            <p>{{optional.name}}</p>
            <button mat-icon-button (click)="removeOptional(i)">
              <mat-icon>close</mat-icon>
            </button>
          </li>
        </ul>
      </div>

      <mat-form-field>
        <mat-label>Starting date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error>starting date is required</mat-error>
      </mat-form-field>

      <button (click)="goToConfirmation()" mat-raised-button color="primary"
        [disabled]="!buyForm.valid">Confirm</button>

    </form>
  </mat-card>
</div>