mat-form-field {
    margin: 24px;
}

.opt-prods-panel {
    overflow-y: scroll;
    max-height: 50vh;
    width: 22vw;
}

.background {
    left: 55%;
    top: -100%;
    position: relative;
    background: #cd533b;
    height: 150%;
    width: 150%;
    z-index: -1;
    transform: rotate(-5deg);
}