<form >
    <mat-form-field>
        <mat-label>Service</mat-label>
        <mat-select>
          <mat-option>Basic</mat-option>
          <mat-option>Family</mat-option>
          <mat-option>Business</mat-option>
          <mat-option>All Inclusive</mat-option>
        </mat-select>
      </mat-form-field>
      
    <mat-form-field>
        <mat-label>Validity period</mat-label>
        <mat-select>
          <mat-option>12</mat-option>
          <mat-option>24</mat-option>
          <mat-option>36</mat-option>
        </mat-select>
    </mat-form-field>
    
    <div class="opt-prods-panel" *ngIf="isServiceSelected">
        <mat-form-field *ngFor="let optProdsField of optProdsFields">
            <mat-label>Optional pruduct</mat-label>
            <mat-select>
              <mat-option *ngFor="let optional of optionals">{{optional}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="addOptional()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <mat-form-field>
        <mat-label>Starting date</mat-label>
        <input matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <button (click)="goToConfirmation()" mat-raised-button color="primary">Confirm</button>

</form>

<div class="background"></div>