.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    
    .logo {
        width: 30%;
        color: #3F51B5;
        font-size: 6rem;
        padding: 3rem;
    }

    .inner-container {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            left: 0;
        }

        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            a {
                margin-top: 45vh;
                position: relative;
                color: #fff;
                text-decoration: none;
            }
        }

        .login-card {
            position: absolute;
            width: 15rem;
            padding: 2rem 1rem 2rem 1rem;

            mat-card-title {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            mat-form-field {
                width: 100%;
            }

            mat-card-actions {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.background {
    left: 55%;
    top: -120%;
    position: relative;
    background: #cd533b;
    height: 150%;
    width: 150%;
    z-index: -1;
}