<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Create service package">
        <div class="container">
            <mat-card>
                <form [formGroup]="createPackageForm" (ngSubmit)="createServicePackage()">
                    <mat-form-field>
                        <mat-label>Service package name</mat-label>
                        <input formControlName="name" [(ngModel)]="nameService" matInput>
                        <mat-error>Service package name is required</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Optional pruduct</mat-label>
                        <mat-select formControlName="optionals" (selectionChange)="setCurrentOptional($event.value)"
                            [disabled]="selectedOptionals.length === optionalsLen">
                            <mat-option *ngFor="let optional of optionals" [value]="optional">{{optional.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button type="button" mat-mini-fab color="primary" (click)="addOptional()"
                        [disabled]="!currentOptional || optionals.length == 0">
                        <mat-icon>add</mat-icon>
                    </button>
                    <ul>
                        <li *ngFor="let optional of selectedOptionals; let i = index" [attr.data-index]="i">
                            <p>{{optional.name}}</p>
                            <button type="button" mat-icon-button (click)="removeOptional(i)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </li>
                    </ul>

                    <mat-form-field>
                        <mat-label>Services</mat-label>
                        <mat-select formControlName="services" (selectionChange)="setSelectedServices($event.value)"
                            [disabled]="selectedServices.length === 4">
                            <mat-option *ngFor="let service of services" [value]="service">{{service}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Gigabytes</mat-label>
                        <input type="number" [(ngModel)]="gigabytes" min="0" [ngModelOptions]="{standalone: true}"
                            matInput>
                        <mat-error>field required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Gigabytes extra fee</mat-label>
                        <input type="number" [(ngModel)]="gigabytesExtraFee" min="0"
                            [ngModelOptions]="{standalone: true}" matInput>
                        <mat-error>field required</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>SMS</mat-label>
                        <input type="number" [(ngModel)]="sms" min="0" [ngModelOptions]="{standalone: true}" matInput>
                        <mat-error>field required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>SMS extra fee</mat-label>
                        <input type="number" [(ngModel)]="smsExtraFee" min="0" [ngModelOptions]="{standalone: true}"
                            matInput>
                        <mat-error>field required</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Minutes</mat-label>
                        <input type="number" [(ngModel)]="minutes" min="0" [ngModelOptions]="{standalone: true}"
                            matInput>
                        <mat-error>field required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Minutes extra fee</mat-label>
                        <input type="number" [(ngModel)]="minutesExtraFee" min="0" [ngModelOptions]="{standalone: true}"
                            matInput>
                        <mat-error>field required</mat-error>
                    </mat-form-field>
                    <button type="button" mat-mini-fab color="primary" (click)="addService()"
                        [disabled]="!currentService || services.length == 0">
                        <mat-icon>add</mat-icon>
                    </button>
                    <ul>
                        <li *ngFor="let service of selectedServices; let i = index" [attr.data-index]="i">
                            <p>{{service.title}}</p>
                            <button type="button" mat-icon-button (click)="removeService(i)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </li>
                    </ul>

                    <mat-form-field>
                        <mat-label>12 months cost</mat-label>
                        <input formControlName="cost12" [(ngModel)]="months12Cost" matInput type="number"
                            placeholder="Cost" min="0">
                        <mat-error>12 months cost is required</mat-error>
                        <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>24 months cost</mat-label>
                        <input formControlName="cost24" [(ngModel)]="months24Cost" matInput type="number"
                            placeholder="Cost" min="0">
                        <mat-error>24 months cost is required</mat-error>
                        <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>36 months cost</mat-label>
                        <input formControlName="cost36" [(ngModel)]="months36Cost" matInput type="number"
                            placeholder="Cost" min="0">
                        <span matPrefix>$&nbsp;</span>
                        <mat-error>36 months cost is required</mat-error>
                    </mat-form-field>

                    <button (click)="createServicePackage()" type="submit" mat-raised-button color="primary"
                        [disabled]="!createPackageForm.valid || !selectedServices.length">Confirm</button>

                </form>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab label="Create optional product">
        <div class="container bigger">
            <mat-card class="littler">
                <form [formGroup]="createOptionalForm" (ngSubmit)="createServicePackage()" class="card">
                    <mat-form-field>
                        <mat-label>Optional product name</mat-label>
                        <input formControlName="nameOptional" [(ngModel)]="nameOptional" matInput>
                        <mat-error>Optional product name is required</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>Optional product monthly fee</mat-label>
                        <input formControlName="feeOptional" type="number" [(ngModel)]="feeOptional" matInput>
                        <span matPrefix>$&nbsp;</span>
                        <mat-error>Optional product monthly fee is required</mat-error>
                    </mat-form-field>
                    <br>
                    <button (click)="createOptional()" type="submit" mat-raised-button color="primary"
                        [disabled]="!createOptionalForm.valid">Confirm</button>
                </form>
            </mat-card>
        </div>

    </mat-tab>


    <mat-tab label="Sales report">
        <div *ngIf="isLoaded"></div>
            <h1>Service package report</h1>
            <table mat-table [dataSource]="report.report" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.service_pkg_id}} </td>
                </ng-container>

                <ng-container matColumnDef="purchasestotal">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                </ng-container>

                <ng-container matColumnDef="purchases12months">
                    <th mat-header-cell *matHeaderCellDef> 12 months </th>
                    <td mat-cell *matCellDef="let element"> {{element.total_val_per_12}} </td>
                </ng-container>

                <ng-container matColumnDef="purchases24months">
                    <th mat-header-cell *matHeaderCellDef> 24 months </th>
                    <td mat-cell *matCellDef="let element"> {{element.total_val_per_24}} </td>
                </ng-container>

                <ng-container matColumnDef="purchases36months">
                    <th mat-header-cell *matHeaderCellDef> 36 months </th>
                    <td mat-cell *matCellDef="let element"> {{element.total_val_per_36}} </td>
                </ng-container>

                <ng-container matColumnDef="totalSales">
                    <th mat-header-cell *matHeaderCellDef> Total sales </th>
                    <td mat-cell *matCellDef="let element"> {{element.sales_pkg_only}} </td>
                </ng-container>

                <ng-container matColumnDef="salesWithOptionals">
                    <th mat-header-cell *matHeaderCellDef> Total sales with optional products</th>
                    <td mat-cell *matCellDef="let element"> {{element.sales_with_opt_prods}} </td>
                </ng-container>

                <ng-container matColumnDef="avgOptionals">
                    <th mat-header-cell *matHeaderCellDef> Average optional products </th>
                    <td mat-cell *matCellDef="let element"> {{element.avg_prods}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsServicesTable"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsServicesTable;"></tr>
            </table>

            <h1>Insolvent users</h1>
            <table mat-table [dataSource]="report.insolventUsers" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> E-mail </th>
                    <td mat-cell *matCellDef="let element"> {{element.eMail}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsUsersTable"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsUsersTable;"></tr>
            </table>

            <h1>Suspended orders</h1>
            <table mat-table [dataSource]="report.suspendedOrders" class="mat-elevation-z8">
                <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef> Creation date </th>
                    <td mat-cell *matCellDef="let element"> {{datePipe.transform(element.date, 'yyyy-MM-dd
                        HH:mm:ss', 'it')}} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                </ng-container>

                <ng-container matColumnDef="subscriptionDate">
                    <th mat-header-cell *matHeaderCellDef> Subscription date </th>
                    <td mat-cell *matCellDef="let element"> {{datePipe.transform(element.subscription_date, 'yyyy-MM-dd
                        HH:mm:ss', 'it')}} </td>
                </ng-container>

                <!-- <ng-container matColumnDef="packageName">
                    <th mat-header-cell *matHeaderCellDef> Package name </th>
                    <td mat-cell *matCellDef="let element"> {{element.package.name}} </td>
                </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="columnsOrdersTable"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsOrdersTable;"></tr>
            </table>

            <h1>Alerts</h1>
            <table mat-table [dataSource]="report.alerts" class="mat-elevation-z8">
                <ng-container matColumnDef="userId">
                    <th mat-header-cell *matHeaderCellDef> User id</th>
                    <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
                </ng-container>

                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> E-mail </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{datePipe.transform(element.last_rejection_date, 'yyyy-MM-dd HH:mm:ss',
                        'it')}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsAlertTable"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsAlertTable;"></tr>
            </table>

            <h1>Best seller optional</h1>
            <h2>{{ report.bestSeller.name }}</h2>
    </mat-tab>
</mat-tab-group>