<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Create service package">
        <form [formGroup]="createPackageForm" (ngSubmit)="createServicePackage()">
            <mat-form-field>
                <mat-label>Service package name</mat-label>
                <input formControlName="name" [(ngModel)]="nameService" matInput>
                <mat-error>Service package name is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Optional pruduct</mat-label>
                <mat-select formControlName="optionals" (selectionChange)="setCurrentOptional($event.value)">
                    <mat-option *ngFor="let optional of optionals" [value]="optional">{{optional.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button type="button" mat-mini-fab color="primary" (click)="addOptional()"
                [disabled]="!currentOptional || optionals.length == 0">
                <mat-icon>add</mat-icon>
            </button>
            <ul>
                <li *ngFor="let optional of selectedOptionals; let i = index" [attr.data-index]="i">
                    <p>{{optional.name}}</p>
                    <button type="button" mat-icon-button (click)="removeOptional(i)">
                        <mat-icon>close</mat-icon>
                    </button>
                </li>
            </ul>

            <mat-form-field>
                <mat-label>Services</mat-label>
                <mat-select formControlName="services" (selectionChange)="setSelectedServices($event.value)">
                    <mat-option *ngFor="let service of services" [value]="service">{{service.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button type="button" mat-mini-fab color="primary" (click)="addService()"
                [disabled]="!currentService || services.length == 0">
                <mat-icon>add</mat-icon>
            </button>
            <ul>
                <li *ngFor="let service of selectedServices; let i = index" [attr.data-index]="i">
                    <p>{{service.title}}</p>
                    <button type="button" mat-icon-button (click)="removeService(i)">
                        <mat-icon>close</mat-icon>
                    </button>
                </li>
            </ul>

            <mat-form-field>
                <mat-label>12 months cost</mat-label>
                <input formControlName="cost12" [(ngModel)]="months12Cost" matInput type="number" placeholder="Cost"
                    min="1">
                <mat-error>12 months cost is required</mat-error>
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>

            <mat-form-field>
                <mat-label>24 months cost</mat-label>
                <input formControlName="cost24" [(ngModel)]="months24Cost" matInput type="number" placeholder="Cost"
                    min="1">
                <mat-error>24 months cost is required</mat-error>
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>

            <mat-form-field>
                <mat-label>36 months cost</mat-label>
                <input formControlName="cost36" [(ngModel)]="months36Cost" matInput type="number" placeholder="Cost"
                    min="1">
                    <span matPrefix>$&nbsp;</span>
                <mat-error>36 months cost is required</mat-error>
            </mat-form-field>

            <button (click)="createServicePackage()" type="submit" mat-raised-button color="primary"
                [disabled]="!createPackageForm.valid || !selectedServices.length">Confirm</button>

        </form>
    </mat-tab>


    <mat-tab label="Create optional product">
        <form [formGroup]="createOptionalForm" (ngSubmit)="createServicePackage()">
            <mat-form-field>
                <mat-label>Optional product name</mat-label>
                <input formControlName="nameOptional" [(ngModel)]="nameOptional" matInput>
                <mat-error>Optional product name is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Optional product monthly fee</mat-label>
                <input formControlName="feeOptional" type="number" [(ngModel)]="feeOptional" matInput>
                <span matPrefix>$&nbsp;</span>
                <mat-error>Optional product monthly fee is required</mat-error>
            </mat-form-field>

            <button (click)="createOptional()" type="submit" mat-raised-button color="primary"
                [disabled]="!createOptionalForm.valid">Confirm</button>

        </form>
    </mat-tab>
    <mat-tab label="Sales report">

    </mat-tab>
</mat-tab-group>